@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #010113;
}

#component-main {
  color: black;
}

#main-nav {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
    font-family: "Protest Riot", sans-serif; 
  justify-content: space-between; /* Add space between items */
}

#logo-text {
  display: flex;
  align-items: center;
}

#web-name {
  margin-left: 10px; /* Add margin for spacing */
  font-size: 24px; /* Adjust font size */
}



.App {
  text-align: center;
  display: flex;
  background-color: #010113;
  z-index: 0;
  /* background: linear-gradient(to right, #000229, #000112); */
  flex-direction: column;
  align-items: center;
  justify-content: center
}

/* Navigation bar styles */
#main-nav {
  background-color: #010113;
  /* background: linear-gradient(to top, #0a101f, #000112); */
  color: rgb(0, 0, 0);
  display: flex;
  /* border-bottom: solid 3px white; */
  justify-content: space-between;
  /* margin: 2px; */
  align-items: center;
  width: 100%;
  height: 70px;
}

#logo-text {
  display: flex;
  position: relative;
  align-items: center;
}
#logo{
  height: 100px;
}
#web-name {
  font-size: 1.5rem;
  margin-left: 10px;
  color: white;
  /* position: absolute;
  left: 70%;
  top: 55%; */
}

#nav-btns button {
  margin-left: 10px;
  background-color: #181818;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 1px 0px;
  border-radius: 5px;
}
#nav-btns{
  padding-right: 10px;
}
#nav-btns button:hover {
  background-color: #ffffff;
  color: black;
}


